[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
requests = "*"
psutil = "*"

[dev-packages]
pytest = "<4"  # pytest-cov uses deprecated function (removed in pytest 4) when using --no-cov
pytest-cov = "*"
wheel = "*"
pyinstaller = "*"
ipython = "*"
mypy = "*"
flamenco-worker = {editable = true,path = "."}
colorama = {version = "*", sys_platform = "== 'win32'"}

[requires]
python_version = "3.7"
