[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
requests = "*"
psutil = "*"

[dev-packages]
pytest = "<4"  # pytest-cov uses deprecated function (removed in pytest 4) when using --no-cov
pytest-cov = "*"
wheel = "*"
pyinstaller = "*"
ipython = "*"
pathlib2 = {version = "*",markers = "python_version < '3.6'"}
mypy = "*"
flamenco-worker = {editable = true,path = "."}

[requires]
python_version = "3.7"
